<div id="<%= dom_id(discussion) %>">
  <%= discussion.name%>

  Pinned: <%= discussion.pinned? %> | Closed: <%= discussion.closed? %>
  |
  <%= link_to 'Edit', edit_discussion_path(discussion) %>
</div>