<div id="<%= dom_id(discussion) %>">
  <%= discussion.name%>

  Pinned: <%= discussion.pinned? %> | Closed: <%= discussion.closed? %>
  <div class="">
    <%= link_to 'Edit', edit_discussion_path(discussion) %>
    <%=button_to "Delete", discussion_path(discussion), method: :delete, data: { turbo_method: :delete }, class: 'nav-link active', form: {
       data: { turbo_confirm: "Are you sure?" }
    } %>

    <%= link_to 'See more...', discussion_path(discussion) %>
  </div>
</div>